aries-cloudagent[indy]@git+https://github.com/Indicio-tech/aries-cloudagent-python@fix/backports
aries-acapy-plugin-data-transfer@git+https://github.com/Indicio-tech/aries-acapy-plugin-data-transfer
marshmallow==3.0.0
flake8
python-dateutil
